@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="item">
    <img src="~/images/scripts.jpg" alt="Package Management" class="img-responsive" width="200" height="200"/>
</div>

<p>I will eventually use this area to provide additional information.</p>
